<div id="headbar" >
  <p id="name">Air X</p>
  <p id="moto">pouzdanost na prvom mestu</p>
</div>

<br>
<h1 id="roba">Izdvajamo iz ponude</h1>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{{slika1}}" alt="Card image cap"> <br>
        <div class="card-block">
          <h2 class="card-title">Naj povoljniji letovi za istočnu evropu</h2><br/>
          <a href="#" class="btn btn-primary">Saznaj više</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{{slika2}}" alt="Card image cap"><br>
        <div class="card-block">
          <h2 class="card-title">Porodični paketi</h2><br/>
          <a href="#" class="btn btn-primary">Saznaj Više</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{{slika3}}" alt="Card image cap"><br/>
        <div class="card-block">
          <h2 class="card-title">Aranžmani</h2> <br/>
          <a href="#" class="btn btn-primary">Saznaj više</a>
        </div>
      </div>
    </div>

  </div>
</div>
