<div class="container" id="regForm">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Thank you for Sign Up!</div>
        <div class="panel-body">
          <form [formGroup] = "form">
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" id="fname" class="form-control" name="fname" placeholder="firstname" formControlName="firstname">
            </div>
            <div class="form-group">
              <label >Last Name</label>
              <input type="text" id="lname" class="form-control" name="lname" placeholder="lastname" formControlName="lastname">
            </div>
            <div class="form-group" *ngIf="counttryes">
              <label >Select your Country</label>
              <select id="states" class="form-control" name="state">
              <option *ngFor="let c of counttryes" value="{{c.country_id}}" (click)="onClickCountry(c.country_id)">{{c.country_name}}</option>
              </select>
            </div>
            <div>
              <label >Your Gender</label><br/>
             <div><input type="radio" name="sex" formControlName="sex" value="male"><p>Male</p></div>

              <input type="radio" name="sex" formControlName="sex" value="female"> <p>Female</p>

            </div>
            <div class="form-group">
              <label for="emailaddr">Email Address</label>
              <input type="text" id="emailaddr" class="form-control" name="email" placeholder="email" formControlName="mail">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" name="password" formControlName="password">
            </div>

            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary btn-lg" id="submitbtn" name="submit" (click)="submitUser()">Sign up!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
